*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#00af17,#1b89c9);
}
.calculator-grid{
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.calculator-grid > button{
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.75);
    cursor: pointer;
    outline: none;
}
.calculator-grid > button:hover{
    background-color: rgba(255,255,255,0.9);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(255,255,255,0.75);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}